<p>Name: <%= @applications.name %>
<br>Full Address: <%= @applications.address %>, <%= @applications.city %>, <%= @applications.state %> <%= @applications.zip %>
<br>Description: <%= @applications.description %>
<br>All Pets: <% @applications.pets.each do |pet| %>
  <%= pet.name %>
<% end %>
<br>Application Status: <%= @applications.status %></p>
