<p>Name: <%= @applications.name %>
<br>Full Address: <%= @applications.address %>, <%= @applications.city %>, <%= @applications.state %> <%= @applications.zip %>
<br>Description: <%= @applications.description %>
<br>All Pets: <% @applications.pets.each do |pet| %>
  <%= pet.name %>
<% end %>
<br>Application Status: <%= @applications.status %></p>

<% if @applications.status != "Submitted" %>
  <%= "Add a Pet to this Application" %>
  <%= form_with url: '/pet_applications', method: :post, local: true do |form| %>
    <br> <%= form.label :pet_name %>
    <%= form.text_field :pet_name %>
binding.pry
    <br> <%= form.submit "Add Pet" %>
      <% end %>
<% end %>
