<p>Name: <%= @application.name %>
<br>Full Address: <%= @application.address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip %>
<br>Description: <%= @application.description %>
<br>All Pets: <% @application.pets.each do |pet| %>
  <%= pet.name %>
<% end %>
<br>Application Status: <%= @application.status %></p>

<% if @application.pets.count > 0 %>
  <br><h2>All Pets:</h2>
  <% @application.pets.each do |pet| %>
    <h3><%= pet.name %></h3>
    <% if pet.pet_applications[0].status != 'Rejected' %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}?status='Rejected'", method: :patch,params: {pet_application_id: pet.pet_applications[0].id} %>
    <% else %>
      <p>Rejected</p>
    <% end %>
  <% end %>
<% end %>
