<p>Name: <%= @application.name %>
<br>Full Address: <%= @application.address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip %>
<br>Description: <%= @application.description %>
<br>All Pets: <% @application.pets.each do |pet| %>
  <%= pet.name %>
<% end %>
<br>Application Status: <%= @application.status %></p>

<% if @application.pets.count > 0 %>
<br><h2>All Pets:</h2> <% @application.pets.each do |pet| %>
  <h3> <%= pet.name %> </h3>
  <p> <%= button_to "Reject #{pet.name}", "/admin/applications/#{@application.id}?status=Rejected", method: :update %> </p>
    <% end %>
<% end %>
