<p>Name: <%= @applications.name %>
<br>Full Address: <%= @applications.address %>
<br>Description: <%= @applications.description %>
<br>All Pets: <%= @applications.all_pets %>
<br>Application Status: <%= @applications.status %></p>
