<p>Name: <%= @application.name %>
<br>Full Address: <%= @application.address %>
<br>Description: <%= @application.description %>
<br>All Pets: <%= @application.all_pets %>
<br>Application Status: <%= @application.status %></p>
